<#@ include file="MsSqlPredicateGeneratorConfiguration.ttinclude" once="true" #>
<#@ assembly name="System.Core" #>
<#@ import namespace="System.Linq" #>
using System.Data;
using System.Data.SqlClient;
using System.Runtime.CompilerServices;
using JetBrains.Annotations;

namespace Rocks.Sql.MsSql
{
	public static class MsSqlPredicatesExtensions
	{
<# new PredicateGenerator (this, new MsSqlPredicateGeneratorConfiguration ()).Generate (); #>
	}
}